html{
  font-size: 75%;
}  

body{
  font-family: 'Montserrat', sans-serif;
}

.home-page{
  background-image: url(../assets/images/bg.svg);
  background-position: top right;
  background-size: cover;
  background-attachment:fixed;
}

.jumbotron{
  background-color: #2A898C;
  color: aliceblue;
  width: 660px;
  max-width: 80%;
  margin: 30px auto 30px;
}

.jumbotron-home{
  margin: 100px auto 30px;
}

.home-page .pesquisa-container{
  display: none;
}

.card{
  width: 660px;
  max-width: 80%;
  margin: 100px auto 0px;
  padding-bottom: 10px;
}

.card .card-header{
  background-color: #2A898C;
  color: aliceblue;
  font-weight: bold;
}

.mini-card{
    border: 1px solid #2A898C;
    border-radius: 5px;
    padding: 10px 15px;
    margin-bottom: 15px;
    width: 298px;
    max-width: 90%;
    margin: 10px 15px;
    float: left;
}

#modalInfo .mini-card{
  width: 200px;
  display: inline-block;
}

.feedBackText{
  padding: 0px 30px;
}

.button-bookmarker{
 float: right;
 margin-right: 15px;
}

#listBookmarks{
  width: 660px;
  max-width: 80%;
  margin: 150px auto 30px;
}
#listBookmarks button{
  float: right;
  margin-right: 10px;
}

@media all and (min-width: 768px){
  html{
    font-size: 100%;
  } 
}