body{
  font-family: 'Montserrat', sans-serif;
}

.home-page{
  background-image: url(../assets/images/bg.svg);
  background-position: top right;
  background-size: cover;
  background-attachment:fixed;
}

.jumbotron{
  background-color: #2A898C;
  color: aliceblue;
  width: 580px;
  max-width: 80%;
  margin: 100px auto 30px;
}

.pesquisa-container .jumbotron{
  margin: 30px auto;
}

.home-page .pesquisa-container{
  display: none;
}

.card{
  width: 660px;
  max-width: 80%;
  margin: 100px auto 0px;
  padding-bottom: 10px;
}

.card .card-header{
  background-color: #2A898C;
  color: aliceblue;
  font-weight: bold;
}

.mini-card{
    border: 1px solid #2A898C;
    border-radius: 5px;
    padding: 10px 15px;
    width: 300px;
    margin: 10px 15px;
    float: left;
}