html{
 
}

body{
  font-family: 'Montserrat', sans-serif;
}

.home-page{
  background-image: url(../assets/images/bg.svg);
  background-position: top right;
  background-size: cover;
}

.home-page .jumbotron{
  background-color: #2A898C;
  color: aliceblue;
  width: 580px;
  max-width: 80%;
  margin: 5% auto;
}

.home-page .pesquisa-container{
  display: none;
}

.home-page .pesquisa-container .card{
  width: 580px;
  max-width: 80%;
  margin: 5% auto;
}

.home-page .pesquisa-container .card .card-header{
  background-color: #2A898C;
  color: aliceblue;
  font-weight: bold;
}